.card {
  border-radius: 12px;

  .card-header {
    font-weight: bold;
    font-size: 1.2rem;
  }

  .btn {
    padding: 0.6rem 2rem;
    font-weight: 500;
    border-radius: 8px;
  }

  .form-control, .form-select {
    border-radius: 8px;
  }

  .text-danger {
    font-size: 0.85rem;
  }
}