<section class="bg-dark text-white py-5 mb-5">
  <div class="container">
    <h3 class="mb-4 text-center">Contacto</h3>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="row g-3">
      <!-- Nombre -->
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Nombre completo" formControlName="nombre">
        <div class="text-danger small mt-1"
             *ngIf="form.get('nombre')?.invalid && (form.get('nombre')?.touched || form.get('nombre')?.dirty)">
          El nombre es obligatorio.
        </div>
      </div>

      <!-- Correo -->
      <div class="col-md-6">
        <input type="email" class="form-control" placeholder="Correo de contacto" formControlName="correo">
        <div class="text-danger small mt-1"
             *ngIf="form.get('correo')?.hasError('required') && (form.get('correo')?.touched || form.get('correo')?.dirty)">
          El correo es obligatorio.
        </div>
        <div class="text-danger small mt-1"
             *ngIf="form.get('correo')?.hasError('email') && (form.get('correo')?.touched || form.get('correo')?.dirty)">
          Ingresa un correo válido.
        </div>
      </div>

      <!-- Número -->
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Número de contacto" formControlName="numero">
        <div class="text-danger small mt-1"
             *ngIf="form.get('numero')?.hasError('required') && (form.get('numero')?.touched || form.get('numero')?.dirty)">
          El número es obligatorio.
        </div>
        <div class="text-danger small mt-1"
             *ngIf="form.get('numero')?.hasError('pattern') && (form.get('numero')?.touched || form.get('numero')?.dirty)">
          Solo se permiten números.
        </div>
      </div>

      <!-- Empresa -->
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Nombre de la empresa" formControlName="empresa">
        <div class="text-danger small mt-1"
             *ngIf="form.get('empresa')?.invalid && (form.get('empresa')?.touched || form.get('empresa')?.dirty)">
          El nombre de la empresa es obligatorio.
        </div>
      </div>

      <!-- Botón -->
      <div class="col-12">
        <button type="submit" class="btn btn-success w-100" [disabled]="form.invalid">
          Enviar
        </button>
      </div>
    </form>
  </div>
</section>


<br>
