.abc{
  max-width: 10%;
  min-width: 10%;
  min-height: 100vh;
  width: 250px;
}
.logo{
  max-width: 100%;
}
.footer {
  padding:2rem;
  min-height:60vh;
  background-color: #f8f9fa;
  display: flex;
}






